.w30{
    width: 30%;
}
.w70{
    width: 70%;
}
.w50{
    width: 50%;
}
.w35{
    width: 35%;
}
.w65{
    width: 65%;
}
.w40{
    width: 40%;
}
.w60{
    width: 60%;
}
.orange-bg{
    background-color: var(--orange);
}
.lightgrey1-bg{
    background-color: var(--lightgrey1);
}
.lightgrey2-bg{
    background-color: var(--lightgrey2);
}
.black-bg{
    background-color: var(--black);
}
.darkgrey-bg{
    background-color: var(--darkgrey);
}
.info-section{
    align-items: center;
    transform: scaleX(-1) scaleY(-1);
}
.info-section h2, 
.info-section a {
    writing-mode: tb-rl;
}
.line{
    width: 1px;
    height: 80px;
    background-color: var(--black);
}
.rodzic{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
.aboutme{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: var(--orange);
    line-height: 120px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 6%;
}
.aboutme .desc{
    margin-left: 5%;
}
.aboutme p{
    /* font-size: 12px; */
    line-height: 24px;
    font-weight: 600;
}
img{
    max-width: 100%;
}
.heroinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.white-text{
    color: white;
}
.black-text{
    color: black;
}
.heroinfo h4{
    text-transform: uppercase;
    position: relative;
    top: 60px;
}
.skill-progres{
    width: 70%;
    height: 30px;
    border: 3px solid #fff ;
}
/* pseudoklasa: */
.skill-progres::after{
    content: '';
    height: 100%;
    background-color: #fff;
    display: block;
}
.skill1::after{
    width: 70%;
}
.skill2::after{
    width: 50%;
}
.skill3::after{
    width: 70%;
}
.skill4::after{
    width: 90%;
}
.skill5::after{
    width: 60%;
}
.skill6::after{
    width: 50%;
}
.skill-item{
    margin: 15px;
}
.skill-name{
    width: 24%;
    padding: 0 3%;
}
.bleble{
    font-size: 40px;
    color: red;
}
