@font-face {
    font-family: 'vremenagrotesk';
    src: url('../fonts/vremena/vremenagrotesk-webfont.woff') format('woff2'),
         url('../fonts/vremena/vremenagrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vremenagroteskbold';
    src: url('../fonts/vremena/vremenagroteskbold-webfont.woff') format('woff2'),
         url('../fonts/vremena/vremenagroteskbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vremenagroteskbook';
    src: url('../fonts/vremena/vremenagroteskbook-webfont.woff') format('woff2'),
         url('../fonts/vremena/vremenagroteskbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vremenagroteskmedium';
    src: url('../fonts/vremena/vremenagroteskmedium-webfont.woff') format('woff2'),
         url('../fonts/vremena/vremenagroteskmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}