.container{
    max-width: 1280px;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.border{
    border: 1px solid black;
    min-height: 300px;
}  