body{
    font-family: "Montserrat", sans-serif;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'vremenagroteskbold';
  }
  h1{
    /* font-size: 80px; */
    /* 80px/16px=5rem */
    font-size: 5rem;
  }

  h2{
    /* font-size: 50px; */
    font-size: 3.12rem;
  }
  h3{
    /* font-size: 45px; */
    font-size: 2.81rem;
  }
  h4{
    font-weight: 100;
    letter-spacing: 4px;
    /* font-size: 20px; */
    font-size: 1.25rem;
    font-family: "Montserrat",sans-serif;
 
  }
  h5{
    font-size: 25px;
  }
  h6{
    font-size: 15px;
  }