/* zmienna globalna */
:root{
    --orange: #e96d09;
    --lightgrey1: #d8d8d8;
    --lightgrey2: #bfbfbf;
    --darkgrey: #2c2c2c;
    --black: #000;
    --white: #fff;
}
/* zmienna lokalna */
.klasa1{
    --zmienna1: #1121f1;
}